body {
	/*background-image: url("https://media.giphy.com/media/80Cdy9EteIuOc/giphy.gif");*/
	background-image: url("https://media.giphy.com/media/d4oHIl9I6tf0c/giphy.gif");
	background-size: 100%;
}

/*iframe {
 	position: fixed;
 	top: 0;
 	left: 0;
	width: 100%;
    height: 100%;
}*/

h3 {
	color: #fff;
}
.twitItem{
	display: flex;
	justify-content: flex-start;
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	margin-bottom: 1vh;
}
.avatar{
	height: 50px;
	width:50px;
}
.twitContent{
	margin-left: 10px;
	width:80%;
}
.twitDate{
	align-self:  flex-end ;
	font-size: 0.7em;
	padding-left: 10px;
}
.loader{
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #fff;
}