body {
	background-image: url("http://3.bp.blogspot.com/-tZ7T2kr6gB0/U6mp2h2xwvI/AAAAAAAAA84/45sekaAKReM/s1600/76-930+BACK+N+BLACK.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.twitItem{
	display: flex;
	justify-content: flex-start;
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}
.avatar{
	height: 50px;
	width:50px;
}
.twitContent{
	margin-left: 10px;
	width:80%;
}
.twitDate{
	align-self:  flex-end ;
	font-size: 0.7em;
	padding-left: 10px;
}
.loader{
	margin-left: auto;
	margin-right: auto;
	display: block;
}