body {
	background-image: url("/twitter-stream/client/img/network.jpg");
	background-size: 100%;
}

a {
	color: #FFF;
	text-decoration: underline;
}

a:hover {
	color: lightblue;
	text-decoration: underline;
}

h3 {
	color: #fff;
}
.twitItem{
	display: flex;
	justify-content: flex-start;
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	margin-bottom: 1vh;
}
.avatar{
	height: 50px;
	width:50px;
}
.twitContent{
	margin-left: 10px;
	width:80%;
}
.twitDate{
	align-self:  flex-end ;
	font-size: 0.7em;
	padding-left: 10px;
}
.loader{
	margin-left: auto;
	margin-right: auto;
	display: block;
	color: #fff;
}